p {
    color: black;
    
}
a {
    border: 1px solid teal; 
}
h1 {
    text-align: center;
}
div {
    text-align: center;
    background-color: rgb(192, 121, 15);
}
nav {
    background-color: aqua;
    text-align: center;
    height: 50px;
}
nav a {
    text-decoration-line: none;
    font-size-adjust: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
p {
font-size: x-large;

}
h4 {
    font-size: xx-large;
    text-size-adjust: 100px;
}
h5 {
    background-color: rgb(226, 86, 43);
    text-align: center;
}
